/* header {
  
  border: red solid;
  width: 960px;
  height: 100px;
  
}

aside{
  
  border: red solid;
  width: 200px;
  height: 600px;
  display:inline-block;
  float: left;

}

#c{
  
  border: red solid;
  width: 380px;
  height: 200px;
  display: inline-block;
  float: left;
  
  
}

#d{
  border: red solid;
  width: 380px;
  height: 200px;
  float: left;
  
}

article {
  
  border: red solid;
  width: 190px;
  height: 250px;
  float: left;
  display:-moz-inline-grid
}

#h{
  margin-right: 30%;
  
}

footer {
  
  border: red solid;
  width: 760px;
  height: 150px;
  float: left;
  
}
  


* {
  text-align: center;
  color: blue;
} */

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.a { grid-area: header; }
.b { grid-area: menu; }
.c { grid-area: main; }
.d { grid-area: right; }
.e { grid-area: main; }
.f{ grid-area: right; }
.g{ grid-area: right; }
.h{ grid-area: footer; }

